<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'input-name.css' %}" />
        <title>user_name</title>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h2>이름을 입력해주세요</h2>
            </div>
            <input type="text" id="name" name="name" required />
            <button type="button" id="submitBtn">다음</button>
            <script>
                window.onload = function () {
                    localStorage.setItem('q_count', 0);
                };
                const nameInput = document.getElementById('name'); // 수정된 부분: 클래스명이 아닌 id를 사용
                const submitBtn = document.getElementById('submitBtn');

                function setUsername() {
                    const name = nameInput.value;
                    if (name) {
                        window.localStorage.setItem('username', name);
                        window.location.href = '/quiz/1';
                    }
                }

                submitBtn.addEventListener('click', setUsername);
            </script>
        </div>
    </body>
</html>
