<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %} <link rel="stylesheet" type"text/css" href="{% static 'input-name.css' %}"/>
        <title>user_name</title>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h2>이름을 입력해주세요</h2>
            </div>
            <input type="text" id="name" name="name" required />
            <button type="button" id="submitBtn">다음</button>
        </div>
    </body>
</html>
