<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MZ 신조어 만들기</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main-page.css' %}" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="title-wrapper">
            <div class="title">MZ 신조어 게임</div>
        </div>
        <a href="{% url 'input_name' %}" class="start">시작하기</a>
    </body>
</html>
